
@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/TrangChuDM.cshtml";
}


<h1 class="page-header" style="color:blue"><b><center><marquee>Chào mừng đến với chương trình quản lý kho dược!</marquee></center></b></h1>