
@{
    ViewBag.Title = "XemThongTin";
    Layout = "~/Views/Shared/TrangChuDM.cshtml";
}
<div class="page-title">
    <div class="x_panel">
        <div class="x_title">
            <h2>Thông tin</h2>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="panel body panel">
                       <h4>1. Mai Thị Trang</h4><br/>
                        <h5>Email: maitrangsunny79@gmail.com</h5><br />
                        <h5>Phone: 01654643368</h5><br />
                        <h4>2. Văn Thị Đoan Trang</h4><br />
                        <h5>Email: doantrang2408@gmail.com</h5><br />
                        <h5>Phone: 01662148499</h5><br />
                    </div>
                </div>
                <a href="@Url.Action("AfterLogin", "Home")">Quay lại</a>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/BacktoTopP.cshtml")